<h1> <%= @post.title %> </h1>

<p>
<%=@post.content%>
</p>

<br>

<p>
Written by <a href="/users/<%=@user.id%>"><%=@post.user.name%> </a>
</p>

<h3><%=@post.claps.count%> Claps</h3>

<h3>Responses</h3>
<%@post.responses.each do |response|%>
    <p><a href="/users/<%=response.user.id%>"> <%=response.user.name%> </a> </p>
    <p><%=response.content%></p>
<%end%>

<br>

<form action='/' method='get'>
<button type='submit'>Home</button>
</form>

